@{
    ViewBag.Title = "View Trainings";
    ViewBag.PageTag = "train-view";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                    <a role="button" class="btn btn-primary float-right" href="/Training/Add">Add Trainings</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Treshhold</th>
                            <th>Deadline</th>
                            <th>Department</th>
                            <th>Applied</th>
                            <th>Enrolled</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Training in ViewBag.Trainings)
                        {
                            <tr>
                                <td>@Training.TrainingId</td>
                                <td>@Training.Name</td>
                                <td>@Training.Description</td>
                                <td>@Training.MaxSeat</td>
                                <td>@Training.Deadline.ToString("MM/dd/yyyy")</td>
                                <td>@(@Training.DepartmentName ?? "None")</td>
                                <td>@Training.NumberOfEmployeesApplied</td>
                                <td>@Training.NumberOfEmployeesEnrolled</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-wrench"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/Training/View/@Training.TrainingId">View Content</a>
                                            <a class="dropdown-item" href="/Training/Edit/@Training.TrainingId">Edit</a>
                                            <a class="dropdown-item" href="/Training/ExportEmployees/@Training.TrainingId">Export Student List</a>
                                            <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="/Training/DelTraining/@Training.TrainingId">Delete</a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->


    </section>
    <!-- /.content -->
</div>

