
@{
    ViewBag.Title = "All Trainings";
    ViewBag.PageTag = "";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Treshhold</th>
                            <th>Deadline</th>
                            <th>Department</th>
                            <th>Enrolled Count</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Training in ViewBag.Trainings)
                        {
                            <tr>
                                <td>@Training.TrainingId</td>
                                <td>@Training.Name</td>
                                <td>@Training.Description</td>
                                <td>@Training.MaxSeat</td>
                                <td>@Training.Deadline</td>
                                <td>@Training.DepartmentName</td>
                                <td>@Training.NumberOfEmployeesEnrolled</td>
                                <td>
                                    <a href="/Manager/Training/@Training.TrainingId" role="button" class="btn btn-secondary btn-sm">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->


    </section>
    <!-- /.content -->
</div>