
@{
    ViewBag.Title = "PendingEmployees";
    ViewBag.PageTag = "";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>DOB</th>
                            <th>NIC</th>
                            <th>MobileNumber</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Employee in ViewBag.Employees)
                        {
                            <tr>
                                <td>@Employee.UserId</td>
                                <td>@Employee.FirstName @Employee.LastName</td>
                                <td>@Employee.Email</td>
                                <td>@Employee.DOB</td>
                                <td>@Employee.NIC</td>
                                <td>@Employee.MobileNumber</td>
                                <td><button type="button" onclick="showApprovalDialog('@Employee.UserId');" class="btn btn-secondary">Process</button></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->


    </section>
    <!-- /.content -->
</div>

@section Scripts {
    <script>
        function showApprovalDialog(user) {
            Swal.fire({
                title: 'Approve or Reject User',
                text: 'Do you want to approve or reject this user?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Approve',
                cancelButtonText: 'Reject',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Logic for approval
                    console.log('User Approved');
                    processUser(user, true);
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    // Logic for rejection
                    console.log('User Rejected');
                    processUser(user, false);
                }
            });
        }


        function processUser(user, isApproved) {
            $.ajax({
                type: "POST",
                url: "/Manager/PendingEmployeeAction", // Change this to your server script
                data: { userId: user, approve: isApproved }
            }).done(function (response) {
                console.log('User Approved');
                location.reload();

            }).fail(function () {
                console.log('User Rejected');
            })
        }

    </script>

}


