
@{
    ViewBag.Title = "TrainingRequests";
    ViewBag.PageTag = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Employee Name</th>
                            <th>Training Applied</th>
                            <th>Email</th>
                            <th>MobileNumber</th>
                            <th>TrainingDeadline</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var TrainingRequest in ViewBag.TrainingRequests)
                        {
                            <tr>
                                <td>@TrainingRequest.UserName</td>
                                <td>@TrainingRequest.Name</td>
                                <td>@TrainingRequest.TrainingName</td>
                                <td>@TrainingRequest.Email</td>
                                <td>@TrainingRequest.MobileNumber</td>
                                <td>@TrainingRequest.TrainingDeadline</td>
                                <td><a href="/Training/ProcessRequest/@TrainingRequest.UserId/@TrainingRequest.TrainingId" role="button" class="btn btn-secondary">View</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->


    </section>
    <!-- /.content -->
</div>

@section Scripts {

}
