
@{
    ViewBag.PageTag = "train-view";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>DOB</th>
                            <th>NIC</th>
                            <th>MobileNumber</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var User in ViewBag.Users)
                        {
                            <tr>
                                <td>@User.UserId</td>
                                <td>@User.FirstName @User.LastName</td>
                                <td>@User.Email</td>
                                <td>@User.DOB</td>
                                <td>@User.NIC</td>
                                <td>@User.MobileNumber</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->


    </section>
    <!-- /.content -->
</div>

