
@{
    ViewBag.Title = "train-apply";
    ViewBag.PageTag = "Apply for Training";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">


                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Training Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Name</strong>
                            <p class="text-muted">
                                @ViewBag.Training.Name
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Max Seats Available</strong>
                            <p class="text-muted">
                                @ViewBag.Training.MaxSeat
                            </p>

                            <hr>

                            <strong><i class="fas fa-pencil-alt mr-1"></i> Deadline</strong>

                            <p class="text-muted">
                                @ViewBag.Training.Deadline
                            </p>

                            <hr>

                            <strong><i class="far fa-file-alt mr-1"></i> Description</strong>

                            <p class="text-muted">
                                @ViewBag.Training.Description
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <h5>Upload Prerequisites</h5>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <!-- Post -->
                                        <div class="post">

                                            @foreach (var Prerequisite in ViewBag.Prerequisites)
                                            {
                                                <div class="form-group">
                                                    <label for="prereq@{@Prerequisite.PrerequisiteId}">@Prerequisite.Name</label>
                                                    <p>
                                                        @Prerequisite.Description
                                                    </p>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="prereq@{@Prerequisite.TrainingPrerequisiteId}" name="@{@Prerequisite.TrainingPrerequisiteId}">
                                                            <label class="custom-file-label" for="prereq@{@Prerequisite.TrainingPrerequisiteId}">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <!-- /.post -->
                                    </div>
                                    <button type="button" onclick="upload()" class="btn btn-primary float-left">Submit</button>
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </div>
    </section>
</div>
@section Scripts {
    <script type="text/javascript">

        var trainingId = @ViewBag.trainingId;

        $(document).ready(function () {
            $('.custom-file-input').on('change', function () {
                // Get the file name
                var fileName = $(this).val().split('\\').pop();
                // Replace the "Choose a file" label
                $(this).next('.custom-file-label').addClass("selected").html(fileName);

            });
        });

        function upload() {

            var allFilesSelected = Array.from(document.querySelectorAll('.custom-file-input')).every(input => input.files.length > 0);

            if (!allFilesSelected) {
                Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                }).fire({
                    icon: 'error',
                    title: 'You have to select filw for every prerequisites!'
                })
                return;
            }

            $('.loading-mask').show();
            var formData = new FormData();

            formData.append("trainingId", trainingId);

            $("input.custom-file-input").each(function (i, obj) {
                formData.append(obj.name, obj.files[0]);
                console.log(obj.name)
            });

            $.ajax({
                url: '/Training/ApplyPost', // replace with your server endpoint
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            console.log(percentComplete);

                            if (percentComplete === 100) {
                                // Handle the completion of the upload
                            }
                        }
                    }, false);

                    return xhr;
                },
                success: function (response) {
                    $('.loading-mask').hide();
                    Swal.fire({
                        icon: 'success',
                        title: 'Application Successful!',
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
                        history.back();
                    });
                },
                error: function (response) {
                    $('.loading-mask').hide();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Contact Admin!',
                    });
                }
            });

        }

    </script>
}