@{
    ViewBag.Title = "Select Roles";
    ViewBag.PageTag = "";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Select Role</h4>
                        @foreach (var Role in ViewBag.Roles)
                        {
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="@Role.RoleId" name="role" rname="@Role.RoleName" rid="@Role.RoleId" class="custom-control-input">
                                    <label class="custom-control-label" for="@Role.RoleId">@Role.RoleName</label>
                                </div>
                            </div>
                        }
                        <button onclick="sendRole()" class="btn btn-primary btn-block">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>

    <script type="text/javascript">

        function sendRole() {
            var roleId = $("input[name='role']:checked").attr("rid")
            var roleName = $("input[name='role']:checked").attr("rname")

            $.ajax({
                url: "/User/SelectRolePost",
                type: "POST",
                data: { RoleName: roleName, RoleId: roleId }
            }).done(function (response) {
                console.log(response);

                Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                }).fire({
                    icon: 'success',
                    title: 'Success'
                })

                window.location.href =  response.redirectPath;

            })


        }
    </script>
</body>
</html>
